.app-header {
  background-color: #000;
  height: 40px;
  line-height: 40px;
  padding: 10px 30px;
  color: white;
  display: flex;
  align-items: center;
}

.app-name {
    margin-left: 15px;
    font-size: 1.25em;
    font-weight: 700;
    font-family: Titillium Web,sans-serif;
    color: #fff;
}

.app-title {
    color: #f0f0f0;
    font-size: 0.7em;
    margin-left: 15px;
    font-weight: 500;
    font-family: Titillium Web,sans-serif;
    letter-spacing: 2px;
}

.inactive-value {
    color: #a0a0a0;
    font-style: italic;
    font-weight: normal;
}

.error-message {
    color: #e4002b;
    font-size: 0.8em;
}

a.home-link {
    color: #fff;
    text-decoration: none;
    outline: 0;
}

a.home-link:hover {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    outline: 0;
}

.main-content {
    margin: 25px 35px;
}

.content-loader {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

div.page-content {
    margin: 20px;
    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

div.page-grid {
    margin-top: 10px;
}

/* *****************************************************************************
 *
 * Spacing
 *
 * ****************************************************************************/

 span.left-space-sm {
     margin-left: 5px;
 }

 span.left-space-lg {
     margin-left: 20px;
 }
