div.connection-info {
    margin: 25px 0px;
    text-align: right;
}

pre.connection-info {
    color: #666;
    font-size: 12px;
    font-weight: 300 !important;
    font-family: Source Code Pro,monospace;
}

span.connection-name {
    color: #888;
}

a.connection-link {
    color: #666;
    text-decoration: none;
}

a.connection-link:hover {
    color: #888;
    text-decoration: none;
}
