div.spinner-padding-md {
    color: #888;
    text-align: center;
    margin: 25px;
}

div.spinner-padding-lg {
    color: #888;
    text-align: center;
    margin: 50px;
}

div.spinner-padding-ms {
    color: #888;
    text-align: center;
    margin: 150px;
}
