div.grid-container {
    border-radius: .28571429rem;
    border: 1px solid #3d3d3d;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
}

div.container-headline {
    color: #cecece;
}

span.container-headline {
    font-size: 1.5em;
    font-weight: bold;
    padding-right: 10px;
}

div.search-form {
    margin-top: 10px;
    width: 100%;
}

div.listing {
    font-family: 'Roboto Mono';
    color: #fff;
}
