div.database-headline {
    margin-bottom: 20px;
}

span.database-title {
    color: #f0f0f0;
    font-weight: 500;
    font-size: 1em;
    font-family: Source Code Pro,monospace;
}

span.database-name {
    color: #cecece;
    font-weight: 300;
    font-family: Roboto Mono,monospace;
    font-size: 0.75em;
    padding-left: 20px;
}

h1.main-header {
    color: #cecece;
}

a.database-headline {
    color: #cecece;
    cursor: pointer;
}

a.database-headline:hover {
    color: #dedede;
    cursor: pointer;
}
