
.column-name {
    color: #45af50;
}

.column-name:hover {
    color: rgba(69, 175, 80, .75);
}

.domain-name {
    color: #de935d;
}

.domain-name:hover {
    color: rgba(222, 147, 93, .75);
}

.dataset-name {
    color: #69b9ff;
}

.dataset-name:hover {
    color: rgba(105, 185, 255, .75);
}

.linked-list-item {
    cursor: pointer;
}

.selected-list-item {
    color: #eaf628;
}

.term {
    color: #fff;
}

.term:hover {
    color: rgba(255, 255, 255, .75);
}
