div.main-page-container {
    padding: 10px 30px;
}

div.database-description {
    margin-bottom: 10px;
}

div.database-columns {
    color: #14770f;
}

div.database-datasets {
    color: #0f1577;
}

div.database-domains {
    color: #770f2c;
}
