span.navigator {
    color: #cecece;
    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

span.nav-text {
    font-size: 0.95em;
}

div.domain-navigator {
}

span.domain-navigator {
    color: #cecece;
    font-size: 0.8em;
    font-weight: 300 !important;
    font-family: Source Code Pro,monospace;
}
