div.spinner {
    margin-top: 50px;
}

p.spinner {
    color: #cecece;
    text-align: center;
    margin-top: 20px;
}

.exec-spinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
